<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/login}">登录</a>
<a th:href="@{/testRequestByServletAPI}">跳转</a><br>
<a th:href="@{/testModelAndView}">ModelAndView</a><br>
<a th:href="@{/testModel}">Model</a><br>
<a th:href="@{/testMap}">Map集合向request域对象共享数据</a><br>
<a th:href="@{/testModelMap}">ModelMap集合向request域对象共享数据</a><br>
<a th:href="@{/testSession}">通过Servlet向session域对象共享数据</a><br>
<a th:href="@{/testApplication}">通过Servlet向application域对象共享数据</a><br>
</body>
</html>